<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanfu.product.center.dao.GroupOpenConnectMapper" >
  <resultMap id="BaseResultMap" type="com.hanfu.product.center.model.GroupOpenConnect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="group_open_id" property="groupOpenId" jdbcType="INTEGER" />
    <result column="orders_id" property="ordersId" jdbcType="INTEGER" />
    <result column="hf_desc" property="Hfdesc" jdbcType="VARCHAR" />
    <result column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, group_open_id,orders_id,hf_desc,address_id,is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group_open_connect
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByGroupOpenId"  >
    delete from group_open_connect
    where group_open_id = #{id,jdbcType=INTEGER}
  </delete>


  <select id="selectByGroup" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from group_open_connect
    where user_id = #{id} and  group_open_id=#{groupOpenId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from group_open_connect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert"  >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into group_open_connect (user_id, group_open_id,orders_id,hf_desc,address_id)
    values (#{userId,jdbcType=INTEGER},  #{groupOpenId,jdbcType=INTEGER}, #{ordersId,jdbcType=INTEGER} ,
    #{hfDesc,jdbcType=VARCHAR}, #{addressId,jdbcType=INTEGER})
  </insert>


  <insert id="insertSelective" parameterType="com.hanfu.product.center.model.GroupOpenConnect" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into group_open_connect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="groupOpenId != null" >
        group_open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupOpenId != null" >
        #{groupOpenId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.hanfu.product.center.model.GroupOpenConnect" >
    update group_open_connect
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupOpenId != null" >
        group_open_id = #{groupOpenId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateisDeleted" parameterType="java.lang.Integer" >
    update group_open_connect
    set is_deleted =1
    where user_id = #{userId} and   group_open_id = #{groupOpenId}
  </update>


  <update id="updateState" parameterType="java.lang.Integer" >
    update group_open_connect
    set is_deleted =2
    where user_id = #{userId} and   group_open_id = #{groupOpenId}
  </update>
</mapper>